<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{100,128}</string>
                <key>textureRect</key>
                <string>{{265,685},{98,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{367,1081},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{173,1081},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird_red_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{371,877},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{415,427},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{371,979},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{500,262}</string>
                <key>spriteSourceSize</key>
                <string>{500,270}</string>
                <key>textureRect</key>
                <string>{{1,337},{500,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_achieve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,108}</string>
                <key>textureRect</key>
                <string>{{319,319},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{444,202}</string>
                <key>spriteSourceSize</key>
                <string>{444,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,114}</string>
                <key>textureRect</key>
                <string>{{339,205},{112,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_silver1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{336,42}</string>
                <key>spriteSourceSize</key>
                <string>{344,54}</string>
                <key>textureRect</key>
                <string>{{1,205},{336,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_silver2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{170,178}</string>
                <key>textureRect</key>
                <string>{{91,1191},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_silver3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{1,839},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_silver4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{168,88}</string>
                <key>spriteSourceSize</key>
                <string>{174,90}</string>
                <key>textureRect</key>
                <string>{{1,1191},{168,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_silver5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{168,46}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{447,175},{168,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_slingshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{88,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{265,787},{88,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_smoke1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{273,1043},{100,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_smoke2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{367,1180},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_wood1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{316,42}</string>
                <key>spriteSourceSize</key>
                <string>{318,52}</string>
                <key>textureRect</key>
                <string>{{1,249},{316,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_wood1portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{42,316}</string>
                <key>spriteSourceSize</key>
                <string>{52,318}</string>
                <key>textureRect</key>
                <string>{{1,293},{42,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_wood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,44}</string>
                <key>textureRect</key>
                <string>{{429,345},{80,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_wood3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{168,86}</string>
                <key>spriteSourceSize</key>
                <string>{182,92}</string>
                <key>textureRect</key>
                <string>{{411,617},{168,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_wood4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{172,50}</string>
                <key>spriteSourceSize</key>
                <string>{182,50}</string>
                <key>textureRect</key>
                <string>{{447,1},{172,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ele_wood5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{184,180}</string>
                <key>textureRect</key>
                <string>{{1,1021},{170,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ele_wood6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{176,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,184}</string>
                <key>textureRect</key>
                <string>{{193,877},{176,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{265,553},{144,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{259,1247},{88,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pic_soldier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,78}</string>
                <key>textureRect</key>
                <string>{{415,517},{98,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pig_foreman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{273,1145},{100,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pig_minion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{200,125}</string>
                <key>textureRect</key>
                <string>{{361,1272},{74,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{148,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{265,423},{148,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>angry_birds.png</string>
            <key>size</key>
            <string>{498,1360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:713bcabc4cd63d03d895f0433408594b:75426689c375d73fb49ec613038d33eb:bd6b34918ec8bb2484e8d23ed9e711c1$</string>
            <key>textureFileName</key>
            <string>angry_birds.png</string>
        </dict>
    </dict>
</plist>
